* {
    /* background: cyan; */
    /* border-style: solid; */
    border-width: 1px;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    overflow: hidden;
}

body {
    background-image: ;
    background-size: cover;
    background-repeat: repeat-y;
    min-height: 100%;
    overflow: hidden;
    text-shadow: 0.025em 0.025em 0.05em hsla(195, 50%, 50%, 1);
}


/* main {
    background: hsla(240, 40%, 30%, 0.3);
} */ 

header {
    margin-bottom: 4%;
    color: black;
}

header>h1 {
    font-family: ;
    padding-bottom: 0.25em;
    margin-left: 4%;
    padding-left: 2%;
    border:black;
    border-bottom-left-radius: 1em;
    border-style: double;
    border-width: 0;
    border-bottom-width: 0.2em;
    color: black;
}

#results_table {
    margin-bottom: 5%;
}


#results_table>h2 {
    font-family: ;
    margin: 0.3em 0;
    margin-left: 10%;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    line-height: 0.5em;
    border: black;
    border-bottom-left-radius: 1em;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 0.05em;
}

#results_table>table {
    margin-left: 12%;
    margin-right: 18%;
    padding: 0.7em;
    border: black;
    border-radius: 1em;
    border-style: solid;
    border-width: 0.00em;
    background: black;
    max-height: 90%;
    overflow: scroll;
}

tr>th, tr>td {
    color: white;
    line-height: 1.5em;
}

th {
    margin: 0.7em 0;
    font-family: ;
}

td {
    padding: 0 0.25em;
    text-align: center;
    font-family: ;
}

#ts {
    font-weight: bold;
    border: solid;
    border-style: thin;
    border-width: .2em .2em 0 0;
    border-color: white;
    border-top-left-radius: .25em;
    border-bottom-right-radius: .25em;
}

nav {
    position: fixed;
    bottom: 0;
    margin-left: 83%;
    margin-bottom: 3%;
    width: 12%;
    font-family: ;
}

#rightBorder {
    position: fixed;
    width: 82%;
    height: 100%;
    border: black;
    border-style: solid;
    border-width: 0;
    border-right-width: 0.08em;
    
}



